:root {
  --forestGreen: darkolivegreen;
}

@font-face { 
  font-family: Lato; 
  src: url('./../fonts/Lato.ttf'); 
} 

* {
   box-sizing: border-box;  /* Bootstrap default */
  }

body {
  font-family: 'Lato', sans-serif;
  background-color: rgba(85, 107, 47, 0.1);
}

.jumbotron{
  background-color: var(--forestGreen);
}

h1 {
  color: white;
}

.employee-card {
  width: 300px ;
  /* border: 1px dashed blue; */
}

.card-header {
  background-color: rgba(85, 107, 47, 0.7);
  color: white;
}

.card-body{
  color: var(--forestGreen);
}


.card {
    background-color:white;
  } */